@import "tailwindcss";

@theme {
  --blue-midnight: #131986;
  --blue-light: #3b45f2;
  --white-gray: #ececec;
  --gray-light: #424242;
  --gray-dark: #202020;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--white-gray);
  color: var(--blue-light);
}

textarea::selection {
  background-color: var(--gray-dark);
  color: var(--white-gray);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--blue-light);
  background-image: -webkit-linear-gradient(
    top,
    #ebf2f5 0%,
    #b7d0db 50%,
    #919a9e 51%,
    #abacc9 100%
  );
}

@font-face {
  font-family: "LufgaMedium";
  src: local("LufgaMedium"),
    url("../assets/fonts/LufgaMedium.ttf") format("truetype");
}

.lufga-med {
  font-family: "LufgaMedium";
}

body {
  background-color: var(--blue-light);
  color: var(--white-gray);
  font-family: "LufgaMedium";
  background-image: url("../assets/images/background.png");
}

.btn-header:hover h2 {
  color: var(--white-gray);
}

.errorActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
