@import "tailwindcss";

@theme {
  --blue-midnight: #131986;
  --blue-cian: #134386;
  --blue-light: #3b45f2;
  --white-gray: #ececec;
  --gray-light: #424242;
  --gray-dark: #202020;
  --red-light: #dc143c;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--white-gray);
  color: var(--blue-light);
}

textarea::selection {
  background-color: var(--gray-dark);
  color: var(--white-gray);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--blue-light);
  background-image: -webkit-linear-gradient(
    top,
    #ebf2f5 0%,
    #b7d0db 50%,
    #919a9e 51%,
    #abacc9 100%
  );
}

@font-face {
  font-family: "LufgaMedium";
  src: local("LufgaMedium"),
    url("../assets/fonts/LufgaMedium.ttf") format("truetype");
}

.lufga-med {
  font-family: "LufgaMedium";
}

body {
  background-color: var(--blue-light);
  color: var(--white-gray);
  font-family: "LufgaMedium";
  background-image: url("../assets/images/background.png");
}

.btn-header:hover h2 {
  color: var(--white-gray);
}

.errorActive {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* button revisar card */
.deck-item button {
  transform: translateY(0rem);
}

@media screen and (min-width: 1024px) {
  .deck-item button {
    transform: translateY(5vw);
  }
}

/* button revisar card */
.deck-item:hover > button {
  transform: translateY(0vw);
}

/* efeito para virar card */

.deck-item {
  position: relative;
  perspective: 1000px;
}

.card-face {
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.deck-item.flipped .front {
  transform: rotateY(-180deg);
}

.deck-item.flipped .back {
  transform: rotateY(0deg);
}

/* footer hover */
footer .footer-links li svg {
  transition: all 0.3s ease-in-out;
}
footer .footer-links li:hover svg {
  transform: scale(1.1);
  fill: var(--blue-midnight);
}

.checkbox-wrapper-64 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-gray);
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: var(--blue-light);
  transition: 0.4s;
}

.checkbox-wrapper-64 input:checked + .slider {
  background-color: var(--blue-midnight);
  border: 1px solid var(--blue-midnight);
}

.checkbox-wrapper-64 input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: var(--white-gray);
}
