@import "tailwindcss";

:root {
  --accent-color: #3b45f2;
  --accent-background: #09090b;
  --accent-surface: #18181b;
  --accent-primary-text: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
    background-color: var(--accent-background);
    color: #ffffff;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
}
